<div class="container mt-4">

  <h2 class="mb-3">📚 Lista de Tareas</h2>

  <!-- MENSAJE -->
  <p *ngIf="mensaje" class="alert alert-success">
    {{ mensaje }}
  </p>

  <!-- TABLA -->
  <table class="table table-bordered table-hover">

    <thead class="table-dark">
      <tr>
        <th>Título</th>
        <th>Curso</th>
        <th>Fecha</th>
        <th>Estado</th>
        <th>Prioridad</th>
        <th>Alertas</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>

      <tr *ngFor="let t of tareas">

        <td>{{ t.titulo }}</td>
        <td>{{ t.curso }}</td>
        <td>{{ t.fechaEntrega | date:'shortDate' }}</td>
        <td>{{ t.estado }}</td>
        <td>{{ t.prioridad }}</td>

        <!-- ALERTAS -->
        <td>

          <!-- URGENTE -->
          <span *ngIf="t.prioridad === 'alta'" class="badge bg-danger">
            ⚠ Urgente
          </span>

          <!-- VENCIDA -->
          <span *ngIf="t.estado !== 'completado' && esVencida(t.fechaEntrega)"
                class="badge bg-warning text-dark">
            ⛔ Vencida
          </span>

        </td>

        <!-- ACCIONES -->
        <td>
          <button class="btn btn-danger btn-sm"
                  (click)="eliminar(t.id!)">
            Eliminar
          </button>
        </td>

      </tr>

    </tbody>

  </table>

</div>